body {
  margin:0px;
}
#title {
  margin:0px;
  font-size:2.5em;
  text-align:center;
  border-bottom:1px solid gray;
  padding:40px;
}
#grid {
  display:grid;
  grid-template-columns:200px 1fr;
}
#grid ol {
  margin:0px;
  padding-top:20px;
  padding-left:40px;
}
#grid .nav {
  border-right:1px solid gray;
}
#grid .article {
  padding-left: 20px
}
